/*Fonts and colors*/

body {
	background-color: #F6F6F6;
	color : #4E525B;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	line-height: 1.5;
}

h1, h2 {
	color : #821752;
	letter-spacing: 1px;
}

h1 {
	font-family: 'Lato', sans-serif;
	font-size : 40px;
	font-weight: 700px;
}

h2 {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 400px;
}

a {
	text-decoration: none;
	color: #821752 ;
	transition: 0.3s ease;
}

/*Custom design with class*/

.container {
	width : 700px;
	margin: 30px auto;
}

.card-white {
	background-color: white;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 4px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.15);
	margin: 15px 0;
	text-align: center;
	padding: 30px;
}

.img-circle {
	border-radius: 50%;
}

.btn-pink {
	background-color:#821752 ;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}

.btn-pink:hover {
	color: white;
	background-color: #BF2278;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display : inline;
	padding: 10px;
}

.list-inline i {
	font-size: 40px;
	color: #821752;
	transition: 0.3s ease;
}

.list-inline i:hover {
	color: #BF2278;
}

/*Design adjustments*/

#introduction p {
	margin-bottom: 50px;
}

/*Responsive container*/

@media (max-width: 960px) {
	.container {
		width: 700px;
	}
}

@media (max-width: 720px) {
	.container {
		width: 500px;
	}
}

@media (max-width: 540px) {
	.container {
		width: 300px;
	}
}
